@media (max-width: 1024px)
 .button 
  width: 100%
 .main
  height: auto
 .problems
  &-wrapper
   flex-direction: column
   align-items: center
  &-img
   order: -1
  &-cards
   margin-right: 0
 .token
  &-wrapper 
   grid-template-columns: auto
  &-cards
   grid-template-columns: repeat(2, 1fr)
  &-links 
   flex-direction: column
   width: 100%
 .buy 
  &-wrapper
   grid-template-columns: repeat(1, 1fr)
   
@media (max-width: 680px)
 section
  margin-bottom: 120px
 .container
  padding: 0 16px
  width: 100%
 h2 
  font-size: 60px
  margin-bottom: 50px
  text-align: left
 h3, .title
  font-size: 19px
  text-align: left
 p
  font-size: 14px
  text-align: left
 .main
  &-logo
   margin-bottom: 50px
 .card 
  padding: 20px
  &-small
   padding: 20px
 .token
  &-wrapper
   gap: 30px
  &-contract
   margin-bottom: 30px
  &-video
   video
    width: 100%
    height: auto


@media (max-width: 480px)
 h2 
  font-size: 40px


 
