.token
 width: 100%
 .container
  display: flex
  flex-direction: column
 &-wrapper 
  width: 100%
  display: grid
  grid-template-columns: auto 320px
  gap: 40px
  margin-bottom: 40px
 &-contract
  margin-bottom: 40px
 &-video
  max-width: 858px
  border-radius: 16px
  overflow: hidden
  max-height: 506px
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid rgba(120, 138, 152, 0.9)
  video
   width: auto
   height: 100%
 &-cards
  display: grid
  grid-template-columns: repeat(1, auto)
  width: 100%
  gap: 16px
  .card
   width: 100%
   text-align: center
   .title
    margin-bottom: 12px
 &-links
  display: flex
  justify-content: center
  gap: 16px
